body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(135deg, #ff0000, #6a7c94);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #33425B;
  color: #D8E9F0;
  position: relative;
}
/*alll*/
nav {
  display: flex;
  align-items: center;
  flex: 1;
}

nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  margin: 0rem auto;
  max-width: 100%;
}

section h1, section h2 {
  margin-bottom: 2rem;
}

section p {
  font-family: "Kanit", serif;
  font-weight: 500;
  margin-bottom: 1rem;
}

section image {
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline;
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-size: 40px;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 8%;
  background: #F33535;
  transition: width 0.3s ease;
}

a:hover {
  color: #F33535;
  transform: scale(1.2);
}

a:hover::after {
  width: 100%;
}

.date-time {
  margin-right: 60px;
  color: #D8E9F0;
  font-size: 15px;
}

#about { /* Blue for Home */
  height: auto;
}

.story {
  display: flex;
}

.aboutme {
  font: bolder;
  font-size: 50px;
  color: #ffffff;
  line-height: 2;
  transition: transform 0.3s,box-shadow 0.3s;
  position: relative;
  z-index: 2;
  width: 350px;
}

.aboutme p {
  width: fit-content;
  padding: 10px;
  line-height: 1.8;
}

.description {
  margin: 2%;
  flex: 1;
  font-size: 18px;
  line-height: 0.8;
  color: #ffffff;
  width: fit-content;
}

.description ca {
  margin: 2%;
}

.description p {
  line-height: 1.2;
}

#gallery {
  height: 100vh;
}

.gallery-grid {
  width: 100vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 200px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
}

.card:hover img {
  transform: scale(1.5);
}

#activity {
  height: 100vh;
  margin: 5%;
}

.activity {
  position: absolute;
  top: auto;
  left: 50%;
}

.work {    
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex: 1;
  margin: 0 5px;
}

.work ul{
  width: 500px;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
  cursor: grab;
  user-select: none;
  transition: box-shadow 0.3s, transform 0.3s;
}

.work img {
  width:100%;
  border-radius: 5px;
}

.work p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 100px;
  background: #333;
  color: #fff;
}

/*add*/
@media screen and (max-width: 1024px) {

  header {
    justify-content: center;
  }
  p {
    font-size: 18px;
  }
  a {
    font-size:20px;
  }
  .story {
    margin-right:0px;
  }
  .storyy {
    margin-left:0px;
  }

  .name img {
    max-width: 100%;
  }
  .profile{
    margin-top:100px;
    margin-right:20px;
    margin-left:0px;
  }
  .profile img {
    max-width: 100%;
    height: auto; 
    display: block;
  }
}