body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(135deg, #ff0000, #6a7c94);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #33425B;
  color: #D8E9F0;
  position: relative;
}
/*alll*/
nav {
  display: flex;
  align-items: center;
  flex: 1;
}

nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  margin: 0rem auto;
  max-width: 100%;
}

section h1, section h2 {
  margin-bottom: 2rem;
}

section p {
  font-family: "Kanit", serif;
  font-weight: 500;
  margin-bottom: 1rem;
}

section image {
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline;
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-size: 40px;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 8%;
  background: #F33535;
  transition: width 0.3s ease;
}

a:hover {
  color: #F33535;
  transform: scale(1.2);
}

a:hover::after {
  width: 100%;
}

.date-time {
  margin-right: 60px;
  color: #D8E9F0;
  font-size: 15px;
}

#home {
  display: flex;
  height: 100vh;
}

.story {
  margin:5%;
  margin-left:10%
}

.aboutme {
  font: bolder;
  font-size: 50px;
  color: #ffffff;
  z-index: 2;
  width: 350px;
}

.description {
  flex: 1;
  font-size: 18px;
  padding: 10px;
  color: #ffffff;
  width: fit-content;
  margin: auto;
}

.description p {
  font-family: "Kanit", serif;
  font-size: 18px;
  color: #ffffff;
  width: fit-content;
  line-height: 1.5;
}

.storyy {
  width:100%;
  margin:5%;
  margin-left:0%;
}

.profile {
  position: absolute;
  margin-top:5%;
  margin-left:5%;
  z-index: 3;
  align-items:center;
}

.profile img {
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

.profile:hover img {
  transform: scale(1.05); /* ขยายเล็กน้อย */
  box-shadow: 0 0 20px 5px rgba(0, 208, 255, 0.6),
              0 0 30px 10px rgba(0, 247, 255, 0.4),
              0 0 40px 15px rgba(0, 221, 255, 0.759);
}

.name {
  position: absolute;
  bottom: 30vh;
  right:5vh;
}
.name img {
  width: 500px;
}
.name1 {
  z-index: 4;

}
.name2 {
  z-index: -9;
}

.popup {
  padding: 0px;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  cursor: grab;
  user-select: none;
  transition: box-shadow 0.3s, transform 0.3s;
}

.popup.carda {
  position: absolute;
  top:70vh;
  margin-left:-2%;
  width: 200px;
  z-index: 10;
}

.popup.cardb {
  padding: 5px;
  position: absolute;
  margin-top:2%;
  width: 150px;
  z-index: 7;
}

.popup.cardc {
  position: absolute;
  bottom:10vh;
  right:10vh;
  width: 200px;
  z-index: 9;
}

.popup img {
  width: 100%;
  border-radius: 10px;
}

.popup p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.popup:active {
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 208, 255, 0);
}

footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
}
/*add*/
@media screen and (max-width: 1200px) {

  header {
    justify-content: center;
  }
  nav {
    display:host-context;
  }
  nav ul li {
  margin: 0 10px;
  }
  p {
    font-size: 25px;
  }
  a {
    font-size:initial;
  }
  .story {
    width:40vh;
    margin-inline:8vh;
  }
  .storyy {
    width:60vh;
    margin:5%;
  }
  .name {
    position: absolute;
    bottom: 60vh;
    right:5vh;
  }
  .name img{
    width:300px;
  }
  .profile{
    margin-top:100px;
    margin-right:20px;
    margin-left:0px;
  }
  .profile img {
    max-width: 100%;
    height: auto; 
    display: block;
  }
  .popup.carda {
    margin-top:-10%;
    margin-left:-8%;
  }
}

@media screen and (max-width: 450px) {

  header {
    display: grid;
  }
  nav{
    margin:1px;
  }
  nav ul li {
  justify-content: center;
  margin: 0 10px;
  }
  nav .about p {
    font-size: 8px;
  }
  .date-time{
    margin-inline:5vh;
  }
  p {
    font-size: 12px;
  }
  a {
    font-size:1em;
  }
  
  #home {
    display:grid;
    height:auto;
    width:100vh;
  }
  .story {
    display: inline;
    height:auto;
    width:50vh;
  }
  .description {
    margin-inline:0px;
  }
  .storyy {
    display: flex;
    width:auto;
    height:50vh;
    margin-block:initial;
  }
  .name {
    position: absolute;
    bottom: 20vh;
    right:5vh;
  }
  .name img {
    width:200px;
  }
  
  .profile {
    margin-block:initial;
  }
  
  .popup img {
    display: block;
  }
  .popup.carda {
    margin-inline:1vh;
    margin-top:2%;
    width:120px;
    height:160px;
    position:initial;
  }
  .popup.cardb{
    margin-inline:1vh;
    margin-top:2%;
    width:120px;
    height:160px;
    position:initial;
  }
  .popup.cardc{
    margin-inline:1vh;
    margin-top:2%;
    width:120px;
    height:140px;
    position:initial;
  }
}